/* MenuBar.css */

.menu-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background-color: lavenderblush;
  width: 200px;
}

/* Common styles for all buttons */
.button-like {
  background-color: #3498db; /* Default background color - Blue */
  color: #fff; /* White text color */
  border: none;
  border-radius: 8px; /* Rounded corners */
  padding: 12px 20px; /* Padding for the buttons */
  font-size: 16px; /* Font size for the text */
  cursor: pointer;
  width: 100%; /* Set a fixed width for all buttons */
  text-align: center; /* Center the button text */
  margin-bottom: 10px; /* Add margin at the bottom to separate buttons */
  display: flex; /* Display the button contents as flex */
  align-items: center; /* Center the contents vertically */
  justify-content: center; /* Center the contents horizontally */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow for elevation effect */
}

/* Add spacing between icon and text inside buttons */
.button-like .icon {
  margin-right: 8px; /* Add spacing between icon and text */
}

/* Apply custom styles to specific buttons */

/* Feed button */
.feed-button {
  background-color: #27ae60; /* Green background color */
}

.feed-button:hover {
  background-color: #2ecc71; /* Darker shade of green on hover */
}

/* Logout button */
.logout-button {
  background-color: #e74c3c; /* Red background color */
}

.logout-button:hover {
  background-color: #c0392b; /* Darker shade of red on hover */
}

.manage-user-button {
  background-color: #3568db;
  margin-left: 18px;
  margin-bottom: 10px; /* Add margin at the bottom to separate buttons */
}

/* Reports button */
.button-like.button-like-reports {
  margin-bottom: 10px; /* Add margin between "Reports" and the next button */
}

/* Add spacing between icon and text inside buttons */
.button-like .icon {
  margin-right: 8px; /* Add spacing between icon and text */
}
